{% extends 'base.html.twig' %}

{% block title %}{{ 'customer.details.title'|trans }}{% endblock %}

{% block body %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card shadow-sm border-0 mb-3">
            <div class="card-header">
                <h5 class="mb-0">{{ 'customer.details.header'|trans({'%id%': customer.id}) }}</h5>
            </div>

            <div class="card-body">
                <table class="table table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-muted">{{ 'field.name'|trans }}</th>
                            <td>{{ customer.FullName }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-muted">{{ 'field.email'|trans }}</th>
                            <td>{{ customer.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-muted">{{ 'field.phone'|trans }}</th>
                            <td>{{ customer.phone ?: '-' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex gap-2">
            <a class="btn btn-secondary" href="{{ path('app_customer_index') }}">{{ 'action.back'|trans }}</a>
            <a class="btn btn-warning" href="{{ path('app_customer_edit', {'id': customer.id}) }}">{{ 'action.edit'|trans }}</a>
            <a class="btn btn-success" href="{{ path('app_reservation_new', {'customer': customer.id}) }}">{{ 'customers.add_reservation'|trans }}</a>
            {{ include('customer/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
